@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  list-style: none;
  text-decoration: none;
}

nav li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
}

nav a {
    font-family: "TikTok Sans";
    color: black;
    font-size: 25px;
    font-weight: 600;
    user-select: none;
}

main {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

main.content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

main h1{
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    user-select: none;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.6s;
    z-index: 1;
    font-family: "TikTok Sans";
    font-weight: bold;
    font-size: 80px;
}

.footer {
    z-index: 2;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.9s;
    overflow: hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-15px, 15px)
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media screen and (max-width: 768px) {
    main h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 468px) {
    main h1 {
        padding-bottom: 30px;
    }
}
